$namespace: 'j' !default;
$block-sel: "-" !default;
$elem-sel: "__" !default;
$mod-sel: "--" !default;
$state-prefix: "is-" !default;

// j-block
@mixin b($block){
  $B:#{ $namespace + $block-sel + $block };
  .#{ $B }{
    @content;
  }
}

// .j-block__inner
@mixin e($el){
  $selector:&;
  @at-root{
    #{$selector + $elem-sel + $el}{
      @content;
    }
  } 
}

// .j-block--xxx
@mixin m($m){
  $selector:&;
  @at-root{
    #{$selector + $mod-sel + $m}{
      @content;
    }
  } 
}

// .is-xxx
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}