$namespace: 'j' !default;
$block-sel: "-" !default;
$elem-sel: "__" !default;
$mod-sel: "--" !default;

@mixin bfc{
  height: 100%;
  overflow: hidden;
}

// j-block
@mixin b($block){
  $B:#{ $namespace + $block-sel + $block };
  .#{ $B }{
    @content;
  }
}

// .j-block__inner
@mixin e($el){
  $selector:&;
  @at-root{
    #{$selector + $elem-sel + $el}{
      @content;
    }
  } 
}

@mixin m($m){
  $selector:&;
  @at-root{
    #{$selector + $mod-sel + $m}{
      @content;
    }
  } 
}